@page "/{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-outline-primary" href="/Logout">Logout</a>
    }
    else
    {
        <a class="btn btn-outline-primary" href="/Login">Login</a>
    }
    <a class="btn btn-outline-primary" href="/CallAPI">Call API</a>
</p>

<p>
    UTC now:<br />
    @DateTimeOffset.UtcNow
</p>

<p>
    Login UTC expiration:<br/>
    @Model.LoginExpiration
</p>

<p>
    API call result:<br/>
    @Model.ApiResult
</p>

<p>
    Filter result:<br/>
    @Model.FilterResult
</p>
